<div>
    <h2 id="page-heading">
        <span jhiTranslate="sq2App.timeTable.home.title">Time Tables</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-time-table" [routerLink]="['/time-table/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="sq2App.timeTable.home.createLabel">
            Create new Time Table
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="timeTables">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="sq2App.timeTable.arrival">Arrival</span></th>
            <th><span jhiTranslate="sq2App.timeTable.departure">Departure</span></th>
            <th><span jhiTranslate="sq2App.timeTable.route">Route</span></th>
            <th><span jhiTranslate="sq2App.timeTable.station">Station</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let timeTable of timeTables ;trackBy: trackId">
                <td><a [routerLink]="['/time-table', timeTable.id, 'view' ]">{{timeTable.id}}</a></td>
                <td>{{timeTable.arrival | date:'medium'}}</td>
                <td>{{timeTable.departure | date:'medium'}}</td>
                <td>
                    <div *ngIf="timeTable.route">
                        <a [routerLink]="['../route', timeTable.route?.id, 'view' ]" >{{timeTable.route?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="timeTable.station">
                        <a [routerLink]="['../station', timeTable.station?.id, 'view' ]" >{{timeTable.station?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/time-table', timeTable.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/time-table', timeTable.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'time-table/'+ timeTable.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
