<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="timeTable">
            <h2><span jhiTranslate="sq2App.timeTable.detail.title">Time Table</span> {{timeTable.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="sq2App.timeTable.arrival">Arrival</span></dt>
                <dd>
                    <span>{{timeTable.arrival}}</span>
                </dd>
                <dt><span jhiTranslate="sq2App.timeTable.departure">Departure</span></dt>
                <dd>
                    <span>{{timeTable.departure}}</span>
                </dd>
                <dt><span jhiTranslate="sq2App.timeTable.route">Route</span></dt>
                <dd>
                    <div *ngIf="timeTable.route">
                        <a [routerLink]="['/route', timeTable.route?.id, 'view']">{{timeTable.route?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="sq2App.timeTable.station">Station</span></dt>
                <dd>
                    <div *ngIf="timeTable.station">
                        <a [routerLink]="['/station', timeTable.station?.id, 'view']">{{timeTable.station?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/time-table', timeTable.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
