<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-time-table-heading" jhiTranslate="sq2App.timeTable.home.createOrEditLabel">Create or edit a Time Table</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!timeTable.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="timeTable.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sq2App.timeTable.arrival" for="field_arrival">Arrival</label>
                    <div class="d-flex">
                        <input id="field_arrival" type="datetime-local" class="form-control" name="arrival" [(ngModel)]="arrival"
                        required/>
                    </div>
                    <div [hidden]="!(editForm.controls.arrival?.dirty && editForm.controls.arrival?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.arrival?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.arrival?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sq2App.timeTable.departure" for="field_departure">Departure</label>
                    <div class="d-flex">
                        <input id="field_departure" type="datetime-local" class="form-control" name="departure" [(ngModel)]="departure"
                        required/>
                    </div>
                    <div [hidden]="!(editForm.controls.departure?.dirty && editForm.controls.departure?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.departure?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.departure?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sq2App.timeTable.route" for="field_route">Route</label>
                    <select class="form-control" id="field_route" name="route" [(ngModel)]="timeTable.route" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="routeOption.id === timeTable.route?.id ? timeTable.route : routeOption" *ngFor="let routeOption of routes; trackBy: trackRouteById">{{routeOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sq2App.timeTable.station" for="field_station">Station</label>
                    <select class="form-control" id="field_station" name="station" [(ngModel)]="timeTable.station" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="stationOption.id === timeTable.station?.id ? timeTable.station : stationOption" *ngFor="let stationOption of stations; trackBy: trackStationById">{{stationOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
