<div>
    <h2 id="page-heading">
        <span jhiTranslate="sq2App.train.home.title">Trains</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-train" [routerLink]="['/train/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="sq2App.train.home.createLabel">
            Create new Train
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="trains">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="sq2App.train.trainNumber">Train Number</span></th>
            <th><span jhiTranslate="sq2App.train.route">Route</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let train of trains ;trackBy: trackId">
                <td><a [routerLink]="['/train', train.id, 'view' ]">{{train.id}}</a></td>
                <td>{{train.trainNumber}}</td>
                <td>
                    <div *ngIf="train.route">
                        <a [routerLink]="['../route', train.route?.id, 'view' ]" >{{train.route?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/train', train.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/train', train.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'train/'+ train.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
