<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-train-heading" jhiTranslate="sq2App.train.home.createOrEditLabel">Create or edit a Train</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!train.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="train.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sq2App.train.trainNumber" for="field_trainNumber">Train Number</label>
                    <input type="number" class="form-control" name="trainNumber" id="field_trainNumber"
                        [(ngModel)]="train.trainNumber" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sq2App.train.route" for="field_route">Route</label>
                    <select class="form-control" id="field_route" name="route" [(ngModel)]="train.route">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="routeOption.id === train.route?.id ? train.route : routeOption" *ngFor="let routeOption of routes; trackBy: trackRouteById">{{routeOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
