<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="train">
            <h2><span jhiTranslate="sq2App.train.detail.title">Train</span> {{train.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="sq2App.train.trainNumber">Train Number</span></dt>
                <dd>
                    <span>{{train.trainNumber}}</span>
                </dd>
                <dt><span jhiTranslate="sq2App.train.route">Route</span></dt>
                <dd>
                    <div *ngIf="train.route">
                        <a [routerLink]="['/route', train.route?.id, 'view']">{{train.route?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/train', train.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
