<form name="deleteForm" (ngSubmit)="clear()">
    <div class="modal-header">
        <h4 class="modal-title" jhiTranslate="sq2App.route.home.timetable" translateValues="{date : '{{departureDate}}', id : '{{route.id}}'}">Timetable for Route {{route.id}} {{departureDate}}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <div class="table-responsive" *ngIf="!timeTables || timeTables && timeTables.length == 0">
            <p>No timetables found for route {{route.id}} with departure date {{departureDate}}</p>
        </div>
        <div class="table-responsive" *ngIf="timeTables && timeTables.length > 0">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th><span jhiTranslate="global.field.id">ID</span></th>
                    <th><span jhiTranslate="sq2App.timeTable.arrival">Arrival</span></th>
                    <th><span jhiTranslate="sq2App.timeTable.departure">Departure</span></th>
                    <th><span jhiTranslate="sq2App.timeTable.station">Station</span></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let timeTable of timeTables ;trackBy: trackId">
                    <td>{{timeTable.id}}</td>
                    <td>{{timeTable.arrival | date:'shortTime'}}</td>
                    <td>{{timeTable.departure | date:'shortTime'}}</td>
                    <td>{{timeTable.station.name}}</td>
                </tr>
                </tbody>
            </table>
    </div>
    <div class="modal-footer">
        <button id="jhi-confirm-delete-route" type="submit" class="btn btn-success">
            <span jhiTranslate="entity.action.ok">OK</span>
        </button>
    </div>
</form>
